[Unit]
Description=My app that writes to log file
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=myappuser
Group=myappuser
ExecStart=/usr/local/bin/myapp.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
